.calendars {
    display: flex;
    justify-content: space-around;
    top: 10px;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}

.calendar {
    width: 380px;
    height: 360px;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(250, 250, 250, 0.15);
}

.month-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.day {
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px;
}

.month-links {
    margin-top: 35px;
    padding-left: 135px;
}

.month-link {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    color: black;
    text-decoration: underline;
}