body {
    font-family: Arial, sans-serif;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
    padding: 0;
}

body.night-mode {
    background-color: #2c3649;
    color: white;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.header-container {
    margin-top: 1px;
    margin-left: 135px;
}

.header-container h1 {
    font-size: 35px;
}

.container-down {
    display: flex;
    background-color: #2c3649;
    justify-content: flex-start;
    width: auto;
    max-height: 40vh;
    margin-top: auto;
    position: relative;
    bottom: 0;
    transition: transform 0.5s;
}

.image-container {
    width: 30%;
    flex-shrink: 0;
    margin-right: 10px;
}

.image-container img {
    max-width: 100%;
    height: 100%;
    width: auto;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.text-container p {
    color: white;
    margin-top: 0;
    margin-bottom: 5%;
    width: 100%;
    font-size: 25px;
}

.text-overlay {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.text-overlay h2 {
    text-align: center;
    color: white;
    z-index: 1;
    margin: 0 0 20px 0;
    font-size: 50px;
    position: relative;
    padding: 2px 70px;
    background: linear-gradient(to right, #6f45e0 17px, #000000 17px, #000000 45px, #6f45e0 20px, #6f45e0 calc(100% - 60px), #f73373 calc(100% - 60px), #f73373);
}

.day.disabled {
    color: rgba(0, 0, 0, 0.5);
}

body.night-mode .day.disabled {
    color: rgba(255, 255, 255, 0.5);
}

.night-mode-button {
    position: absolute;
    right: 135px;
    width: 45px;
    top: 25px;
    height: 25px;
    background-color: #2C3E50;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    z-index: 10;
}

.night-mode-button:focus {
    outline: none;
}

.icon {
    width: 20px;
    height: 20px;
    transition: opacity 0.5s, transform 0.5s;
}

.sun-icon {
    opacity: 1;
    transform: translateX(0);
}

.moon-icon {
    opacity: 0;
    transform: translateX(-25px);
}

body.night-mode .night-mode-button {
    background-color: #aaa;
}

body.night-mode .sun-icon {
    opacity: 0;
    transform: translateX(25px);
}

body.night-mode .moon-icon {
    opacity: 1;
    transform: translateX(0);
}

body.night-mode .calendar {
    background-color: #2c3649;
    color: white;
}

body.night-mode .month-link {
    color: white;
}

@media (max-width: 1280px) {
    .container-down {
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }

    .image-container,
    .text-container {
        width: 100%;
    }

    .text-container {
        padding-right: 20px;
    }

    .text-container h2 {
        font-size: 40px;
    }

    .image-container img {
        width: 100%;
    }

    .text-container p {
        font-size: 20px;
    }

    .night-mode-button {
        right: 10px;
        top: 5px;
        margin-right: 10px;
    }

    .header-container {
        margin-left: auto;
        margin-right: auto;
    }

    .month-links {
        display: flex;
        justify-content: center;
        margin-right: 135px;
    }
}

@media (max-height: 500px) {
    .container-down {
        bottom: 0;
        max-height: 100%;
    }
}